@charset "UTF-8";

@use "src/scss/settings/setting.scss" as *;

:is(.some)>*:last-child {
    margin-bottom: 0;
}

.home {
    position: relative;
    min-height: 100vh;
    padding: 96px $gutter_content 64px;

    &__back {
        position: absolute;
        top: 10px;
        left: 16px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btnWrap {
        display: flex;
        align-items: center;
        gap: 0 8px;
        position: absolute;
        top: 16px;
        right: 16px;
    }
}