@charset "UTF-8";

@use "src/scss/settings/setting.scss" as *;

:is(.signUp)>*:last-child {
    margin-bottom: 0;
}

.signUp {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__contents {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__wrap {
        position: relative;
        width: 100%;
        text-align: center;
        margin-bottom: 12px;
    }

    &__hdg {
        font-size: 3.2rem;
        color: #fff;
    }
    

    &__signUp {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }

}