@charset "UTF-8";

//* ----------------------------------------------------------------
//    Font
//----------------------------------------------------------------- *
$font_family: "Roboto", "Hiragino Kaku Gothic Pro", "Yu Gothic Medium", "游ゴシック Medium", yugothic, "游ゴシック体", meiryo, sans-serif;

//* ----------------------------------------------------------------
//    Width
//----------------------------------------------------------------- *
$width: 1200px;

//* ----------------------------------------------------------------
//    Break point
//----------------------------------------------------------------- *
$break: 768px;

//* ----------------------------------------------------------------
//    Color
//----------------------------------------------------------------- *
$bg_01:#075561;
$bg_02:#000D4D;
$bg_03:rgba(255, 255, 255, 0.2);
$bg_04:rgba(47, 66, 119, .2);
$bg_05:rgba(255, 255, 255, .2);
$bg_05_current:rgba(149, 255, 250, 0.4);
$bg_06:rgba(132, 239, 255, .4);
$bg_07:rgba(190, 201, 255, .4);
$color_01: #E5FFD6;
$color_02: #B9D3DA;
$color_03: #95BBCA;
$color_04: #78A8AE;

//* ----------------------------------------------------------------
//    Margin
//----------------------------------------------------------------- *
$gutter_content: 20px;