@charset "UTF-8";

@use "src/scss/settings/setting.scss" as *;

.calendarTable {
    width: 100%;
    padding: 32px 20px;
    background-color: $bg_04;
    backdrop-filter: blur(30px) brightness(1.5);
    margin-bottom: 24px;

    > thead {
        > tr {
            th {
                width: calc(100%/7);
                padding-bottom: 12px;
                > span {
                    font-size: 1.2rem;
                    color: $color_01;
                    font-weight: 400;
                }
            }
        }
    }

    > tbody {
        margin-bottom: 12px;
        > tr {
            td {
                width: calc(100%/7);
                text-align: center;
                background-color: $bg_05;
                backdrop-filter: blur(30px) brightness(1.5);
                
                &.is-current {
                    background-color: $bg_05_current;
                }
                
                &.--noValue {
                    opacity: .7;
                }
                
                >button {
                    width: 100%;
                    padding: 11px 4px;
                }
                >button {
                    > span {
                        font-size: 1.2rem;
                        color: #fff;
                        font-weight: 400;
                    }
                }

            }
        }
    }
}